body {
    font-family: Poppins, Verdana, Tahoma, sans-serif ;
}

#logo-container {
    position: relative;
}

.site-logo {
    width: 300px;
    height: auto;
    top: 30px;
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background: rgb(255,245,168);
    background: radial-gradient(circle, rgba(255,245,168,1) 0%, rgba(247,220,111,1) 68%);
    position: absolute;
    width: 100%;
    height: 400px;
}

.box-1 {
    background-color: #490E08;
    width: 100%;
    height: 30px;
    display: block;
    margin: 100px 0 10px 0;
    top: 20%;
}

.box-2 {
    background-color: #490E08;
    width: 100%;
    height: 15px;
    display: block;
    margin: 10px 0 10px 0;
}

.box-3 {
    background-color: #490E08;
    width: 100%;
    height: 15px !important;
    display: block;
    margin: 0 !important;
    opacity: 1 !important;
}

.box-4 {
    background-color: #490E08;
    width: 100%;
    height: 15px;
    display: block;
}

nav {
    margin-top: 0;
    background: rgba(226,200,128, 0.7);
    position: absolute;
    width: 100%;
    z-index: 1; 
}

.slogan-box {
    padding-top: 60px;
}

.main-title, .subtitle {
    font-weight: bold;
    text-align: center;
    color: #490E08;
    font-size: 2.5em;
}

.nav-link {
    font-size: 1.5em;
    color: #1d4c8b;
    padding: 10px 40px;
    font-weight: bold;
}

.img-fixed {
    background-image: url("assets/Design\ Project_bg@2x.png");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.card {
    height: auto;
    margin: 42px;
    width: 20em;
    border: 2px solid #1d4c8b;
    background: rgba(247,220,111,0.8);
    box-shadow: 12px 20px 50px -30px black;    
}

.card-body {
  padding: 2em;  
}

.card-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    color: #490E08;
}

h5.card-title {
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: #490E08;
}

h5.card-title a {
    text-decoration: none;
    color: #490E08;
}

.mid-boxes{
    position: absolute;
    left: 0;
    right: 0;
    top: 30em;
}

main {
    padding-top: 20%;
}

.instagram-gallery {
    background: rgba(247,220,111,0.8);
}

.instagram-title {
    color: #490E08;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
    font-weight: 700;
}



@media (max-width: 576px) { 
    .img-fixed {min-height: 760px;background-position: inherit;min-height: 900px;}
    .site-logo {width: 200px;left:17%;top: 3em;}
    .box-1 {height: 20px;margin: 60px 0 10px 0;}
    .box-2 {height: 10px;}
    .slogan-box {padding: 0;padding-left: 32%;}
    .main-title, .subtitle {font-size: 20px;text-align:left;line-height: 1;}
    header {height:310px;}
    nav {margin-top: 16em;}
}